<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamper</title>

  <link rel="stylesheet" href="../styles/main_popover.css">
</head>
<body>
  <main>
    <section class="modal">
      <div class="modal-header">
        <img src="../images/hamper.svg" alt="Hamper Icon">
        <h1>Hamper - Restrict sites</h1>
      </div>
      <div class="modal-body">
        <nav class="hamper-tabs">
        </nav>
      </div>
    </section>
  </main>
</body>
</html>